<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.read.order.OrderLogReadDao">
	<resultMap id="OrderLogResult" type="com.sln.entity.order.OrderLog">
			<result property="id" column="id" />
			<result property="operatingId" column="operating_id" />
			<result property="operatingName" column="operating_name" />
			<result property="ordersId" column="orders_id" />
			<result property="ordersSn" column="orders_sn" />
			<result property="content" column="content" />
			<result property="createTime" column="create_time" />
	</resultMap>
	
	
	   
	<!-- 查询条件 -->
	<sql id="Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
			<if test="q_id != null and q_id !=''"  > and `id`= #{q_id}</if>
			<if test="q_operatingId != null and q_operatingId !=''"  > and `operating_id`= #{q_operatingId}</if>
			<if test="q_operatingName != null and q_operatingName !=''"  > and `operating_name`= #{q_operatingName}</if>
			<if test="q_ordersId != null and q_ordersId !=''"  > and `orders_id`= #{q_ordersId}</if>
			<if test="q_ordersSn != null and q_ordersSn !=''"  > and `orders_sn`= #{q_ordersSn}</if>
			<if test="q_content != null and q_content !=''"  > and `content`= #{q_content}</if>
			<if test="q_createTime != null and q_createTime !=''"  > and `create_time`= #{q_createTime}</if>
		</trim>
	</sql>
	
	
	<select id="get" parameterType="Integer" resultMap="OrderLogResult">
		select
		   *
		from `order_log`
		where `id` = #{id}
	</select>
	
	
	<!-- 订单操作日志表 列表总数-->
	<select id="queryCount" resultType="java.lang.Integer"  parameterType="map">
		select count(1) from order_log
		<include refid="Where_Clause"/>
	</select>
	  	
	<!-- 查询订单操作日志表列表 -->
	<select id="queryList" resultMap="OrderLogResult"  parameterType="map">
		select 
		  * 
		from order_log 
		<include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
</mapper>