<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.write.bidding.ActBiddingPriceWriteDao">
	<resultMap id="ActBiddingPriceResult" type="com.sln.entity.bidding.ActBiddingPrice">
			<result property="id" column="id" />
			<result property="actBiddingId" column="act_bidding_id" />
			<result property="saleNum" column="sale_num" />
			<result property="price" column="price" />
			<result property="createTime" column="create_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="ActBiddingPriceResult">
		select
		   *
		from `act_bidding_price`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.sln.entity.bidding.ActBiddingPrice">
        update `act_bidding_price` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="actBiddingId != null">`act_bidding_id`= #{actBiddingId},</if>
			<if test="saleNum != null">`sale_num`= #{saleNum},</if>
			<if test="price != null">`price`= #{price},</if>
			`create_time`= now()
	    </set>
        where `id` = #{id}
	</update>
	
	<delete id="delActBiddingByIds">
		delete from `act_bidding_price` where `act_bidding_id` = #{id}
	</delete>
	
	<insert id="insert" parameterType="com.sln.entity.bidding.ActBiddingPrice" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`act_bidding_price`
		(
			
			`act_bidding_id`,
			`sale_num`,
			`price`,
			`create_time`
		)
		values
		(
			
			#{actBiddingId},
			#{saleNum},
			#{price},
			now()
		)
	</insert>
	
</mapper>