iframe .panel-fit, .panel-fit body {
	overflow: scroll;
}

.storeslide_upload {
	text-align: center;
	padding: 20px;
}

.storeslide_upload p {
	padding: 20px;
	font-size: 15px;
}

.fileupload {
	border: 1px solid #CCC;
	padding: 20px;
}