<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.write.order.OrderPayLogWriteDao">
	<resultMap id="OrderPayLogResult" type="com.sln.entity.order.OrderPayLog">
			<result property="id" column="id" />
			<result property="ordersId" column="orders_id" />
			<result property="ordersSn" column="orders_sn" />
			<result property="paymentCode" column="payment_code" />
			<result property="paymentName" column="payment_name" />
			<result property="payMoney" column="pay_money" />
			<result property="payIntegral" column="pay_integral" />
			<result property="paySn" column="pay_sn" />
			<result property="tradeSn" column="trade_sn" />
			<result property="memberId" column="member_id" />
			<result property="memberName" column="member_name" />
			<result property="createTime" column="create_time" />
	</resultMap>
	
	
	   
	<!-- 查询条件 -->
	<!-- <sql id="Where_Clause">
		where 1=1
		<trim  suffixOverrides="," >
			<if test="q_id != null and q_id !=''"  > and `id`= #{q_id}</if>
			<if test="q_ordersId != null and q_ordersId !=''"  > and `orders_id`= #{q_ordersId}</if>
			<if test="q_ordersSn != null and q_ordersSn !=''"  > and `orders_sn`= #{q_ordersSn}</if>
			<if test="q_payStatus != null and q_payStatus !=''"  > and `pay_status`= #{q_payStatus}</if>
			<if test="q_payContent != null and q_payContent !=''"  > and `pay_content`= #{q_payContent}</if>
			<if test="q_payMoney != null and q_payMoney !=''"  > and `pay_money`= #{q_payMoney}</if>
			<if test="q_memberId != null and q_memberId !=''"  > and `member_id`= #{q_memberId}</if>
			<if test="q_memberName != null and q_memberName !=''"  > and `member_name`= #{q_memberName}</if>
			<if test="q_createTime != null and q_createTime !=''"  > and `create_time`= #{q_createTime}</if>
		</trim>
	</sql>
	
	
	<select id="get" parameterType="Integer" resultMap="OrderPayLogResult">
		select
		   *
		from `order_pay_log`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.sln.entity.order.OrderPayLog">
        update `order_pay_log` 
    	<set>
    	<trim  suffixOverrides="," >
				<if test="id != null">`id`= #{id},</if>
				<if test="ordersId != null">`orders_id`= #{ordersId},</if>
				<if test="ordersSn != null">`orders_sn`= #{ordersSn},</if>
				<if test="payStatus != null">`pay_status`= #{payStatus},</if>
				<if test="payContent != null">`pay_content`= #{payContent},</if>
				<if test="payMoney != null">`pay_money`= #{payMoney},</if>
				<if test="memberId != null">`member_id`= #{memberId},</if>
				<if test="memberName != null">`member_name`= #{memberName},</if>
		</trim>
		    </set>
		  
        where `id` = #{id}
	</update> -->
	
	<insert id="insert" parameterType="com.sln.entity.order.OrderPayLog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`order_pay_log`
		(
			`orders_id`,
			`orders_sn`,
			`payment_code`,
			`payment_name`,
			`pay_money`,
			`pay_integral`,
			`pay_sn`,
			`trade_sn`,
			`member_id`,
			`member_name`,
			`create_time`
		)
		values
		(
			#{ordersId},
			#{ordersSn},
			#{paymentCode},
			#{paymentName},
			#{payMoney},
			#{payIntegral},
			#{paySn},
			#{tradeSn},
			#{memberId},
			#{memberName},
			now()
		)
	</insert>
	
	<!-- 订单支付记录表 列表总数-->
	<!-- <select id="queryCount" resultType="java.lang.Integer"  parameterType="map">
		select count(1) from order_pay_log
		<include refid="Where_Clause"/>
	</select> -->
	  	
	<!-- 查询订单支付记录表列表 -->
	<!-- <select id="queryList" resultMap="OrderPayLogResult"  parameterType="map">
		select 
		  * 
		from order_pay_log 
		<include refid="Where_Clause"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select> -->
</mapper>