<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.write.order.OrderLogWriteDao">
	<resultMap id="OrderLogResult" type="com.sln.entity.order.OrderLog">
			<result property="id" column="id" />
			<result property="operatingId" column="operating_id" />
			<result property="operatingName" column="operating_name" />
			<result property="ordersId" column="orders_id" />
			<result property="ordersSn" column="orders_sn" />
			<result property="content" column="content" />
			<result property="createTime" column="create_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="OrderLogResult">
		select
		   *
		from `order_log`
		where `id` = #{id}
	</select>
	
	<!-- <delete id="del">
        delete from `order_log` where `id` = #{id}
	</delete> -->
	
	<!-- <update id="update" parameterType="com.sln.entity.order.OrderLog">
        update `order_log` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="operatingId != null">`operating_id`= #{operatingId},</if>
			<if test="operatingName != null">`operating_name`= #{operatingName},</if>
			<if test="ordersId != null">`orders_id`= #{ordersId},</if>
			<if test="ordersSn != null">`orders_sn`= #{ordersSn},</if>
			<if test="content != null">`content`= #{content},</if>
			<if test="createTime != null">`create_time`= #{createTime}</if>
	    </set>
        where `id` = #{id}
	</update> -->
	
	<insert id="save" parameterType="com.sln.entity.order.OrderLog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into `order_log`
		(
			`operating_id`,
			`operating_name`,
			`orders_id`,
			`orders_sn`,
			`content`,
			`create_time`
		)
		values
		(
			#{operatingId},
			#{operatingName},
			#{ordersId},
			#{ordersSn},
			#{content},
			now()
		)
	</insert>
	
</mapper>