<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.write.integral.ActIntegralBannerWriteDao">
	<resultMap id="ActIntegralBannerResult" type="com.sln.entity.integral.ActIntegralBanner">
			<result property="id" column="id" />
			<result property="title" column="title" />
			<result property="linkUrl" column="link_url" />
			<result property="image" column="image" />
			<result property="orderNo" column="order_no" />
			<result property="startTime" column="start_time" />
			<result property="endTime" column="end_time" />
			<result property="state" column="state" />
			<result property="pcMobile" column="pc_mobile" />
			<result property="createUserId" column="create_user_id" />
			<result property="createUserName" column="create_user_name" />
			<result property="createTime" column="create_time" />
			<result property="updateUserId" column="update_user_id" />
			<result property="updateUserName" column="update_user_name" />
			<result property="updateTime" column="update_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="ActIntegralBannerResult">
		select
		   *
		from `act_integral_banner`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.sln.entity.integral.ActIntegralBanner">
        update `act_integral_banner` 
    	<set>
			<if test="title != null">`title`= #{title},</if>
			<if test="linkUrl != null">`link_url`= #{linkUrl},</if>
			<if test="image != null">`image`= #{image},</if>
			<if test="orderNo != null">`order_no`= #{orderNo},</if>
			<if test="startTime != null">`start_time`= #{startTime},</if>
			<if test="endTime != null">`end_time`= #{endTime},</if>
			<if test="state != null">`state`= #{state},</if>
			<if test="pcMobile != null">`pc_mobile`= #{pcMobile},</if>
			<if test="updateUserId != null">`update_user_id`= #{updateUserId},</if>
			<if test="updateUserName != null">`update_user_name`= #{updateUserName},</if>
			`update_time`= now()
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="insert" parameterType="com.sln.entity.integral.ActIntegralBanner" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into `act_integral_banner`
		(
			`title`,
			`link_url`,
			`image`,
			`order_no`,
			`start_time`,
			`end_time`,
			`state`,
			`pc_mobile`,
			`create_user_id`,
			`create_user_name`,
			`create_time`,
			`update_user_id`,
			`update_user_name`,
			`update_time`
		)
		values
		(
			#{title},
			#{linkUrl},
			#{image},
			#{orderNo},
			#{startTime},
			#{endTime},
			#{state},
			#{pcMobile},
			#{createUserId},
			#{createUserName},
			now(),
			#{updateUserId},
			#{updateUserName},
			now()
		)
	</insert>
	
	<delete id="delete">
        delete from `act_integral_banner` where `id` = #{id}
	</delete>
</mapper>