<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.write.news.NewsWriteDao">
	<resultMap id="NewsResult" type="com.sln.entity.news.News">
			<result property="id" column="id" />
			<result property="typeId" column="type_id" />
			<result property="typePath" column="type_path" />
			<result property="title" column="title" />
			<result property="content" column="content" />
			<result property="author" column="author" />
			<result property="source" column="source" />
			<result property="isOut" column="is_out" />
			<result property="outUrl" column="out_url" />
			<result property="status" column="status" />
			<result property="sort" column="sort" />
			<result property="isRecommend" column="is_recommend" />
			<result property="createId" column="create_id" />
			<result property="createTime" column="create_time" />
			<result property="updateTime" column="update_time" />
	</resultMap>
	<select id="get" parameterType="Integer" resultMap="NewsResult">
		select
		   *
		from `news`
		where `id` = #{id}
	</select>
	
	<delete id="del">
        delete from `news` where `id` = #{id}
    </delete>
	
	<update id="update" parameterType="com.sln.entity.news.News">
        update `news` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="typeId != null">`type_id`= #{typeId},</if>
			<if test="typePath != null">`type_path`= #{typePath},</if>
			<if test="title != null">`title`= #{title},</if>
			<if test="content != null">`content`= #{content},</if>
			<if test="author != null">`author`= #{author},</if>
			<if test="source != null">`source`= #{source},</if>
			<if test="isOut != null">`is_out`= #{isOut},</if>
			<if test="outUrl != null">`out_url`= #{outUrl},</if>
			<if test="status != null">`status`= #{status},</if>
			<if test="sort != null">`sort`= #{sort},</if>
			<if test="isRecommend != null">`is_recommend`= #{isRecommend},</if>
			<!-- <if test="createId != null">`create_id`= #{createId},</if> -->
			<!-- <if test="createTime != null">`create_time`= #{createTime},</if> -->
			`update_time`= now()
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="save" parameterType="com.sln.entity.news.News" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`news`
		(
			
			`type_id`,
			`type_path`,
			`title`,
			`content`,
			`author`,
			`source`,
			`is_out`,
			`out_url`,
			`status`,
			`sort`,
			`is_recommend`,
			`create_id`,
			`create_time`,
			`update_time`
		)
		values
		(
			
			#{typeId},
			#{typePath},
			#{title},
			#{content},
			#{author},
			#{source},
			#{isOut},
			#{outUrl},
			#{status},
			#{sort},
			#{isRecommend},
			#{createId},
			now(),
			now()
		)
	</insert>
	
</mapper>