<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.read.product.ProductPictureReadDao">
	<resultMap id="ProductPictureResult" type="com.sln.entity.product.ProductPicture">
			<result property="id" column="id" />
			<result property="productId" column="product_id" />
			<result property="imagePath" column="image_path" />
			<result property="sort" column="sort" />
			<result property="createId" column="create_id" />
			<result property="createTime" column="create_time" />
			<result property="sellerId" column="seller_id" />
			<result property="state" column="state" />
			<result property="productLead" column="product_lead" />
	</resultMap>
	<select id="get" parameterType="Integer" resultMap="ProductPictureResult">
		select
		   *
		from `product_picture`
		where `id` = #{id}
	</select>
	
	<select id="getByProductId" parameterType="Integer" resultMap="ProductPictureResult">
		select
		   *
		from `product_picture`
		where `product_id` = #{productId}
		order by product_lead asc
	</select>
	
	 <select id="page" resultType="com.sln.entity.product.ProductPicture">
        select
        <include refid="selectColumn"/>
        from `product_picture`
        <include refid="whereConditions"/>
        order by sort desc,id desc
        <if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from `product_picture`
        <include refid="whereConditions"/>
    </select>
	
	 <sql id="selectColumn">
        `id`,
        `product_id`,
        `image_path`,
        `sort`,
        `create_id`,
        `create_time`,
        `seller_id`,
        `state`,
        `product_lead`
    </sql>
    <sql id="whereConditions">
        <where>
            <if test="param1.q_id != null and '' != param1.q_id">
                and `id`= #{param1.q_id}
            </if>
            <if test="param1.q_productId != null and '' != param1.q_productId">
                and `product_id`= #{param1.q_productId}
            </if>
            <if test="param1.q_imagePath != null and '' != param1.q_imagePath">
                and `image_path`= #{param1.q_imagePath}
            </if>
            <if test="param1.q_sort != null and '' != param1.q_sort">
                and `sort`= #{param1.q_sort}
            </if>
            <if test="param1.q_createId != null and '' != param1.q_createId">
                and `create_id`= #{param1.q_createId}
            </if>
            <if test="param1.q_createTime != null and '' != param1.q_createTime">
                and `create_time`= #{param1.q_createTime}
            </if>
            <if test="param1.q_sellerId != null and '' != param1.q_sellerId">
                and `seller_id`= #{param1.q_sellerId}
            </if>
            <if test="param1.q_state != null and '' != param1.q_state">
                and `state`= #{param1.q_state}
            </if>
            <if test="param1.q_productLead != null and '' != param1.q_productLead">
                and `product_lead`= #{param1.q_productLead}
            </if>
        </where>
    </sql>
	
	<select id="getproductLead" parameterType="Integer" resultMap="ProductPictureResult">
		select
		   *
		from `product_picture`
		where `product_id` = #{productId}
		order by product_lead asc
		limit 1
	</select>
	
</mapper>