<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sln.dao.shop.write.search.SearchRecordWriteDao">
	<resultMap id="SearchRecordResult" type="com.sln.entity.search.SearchRecord">
			<result property="id" column="id" />
			<result property="keyword" column="keyword" />
			<result property="keywordPinyin" column="keyword_pinyin" />
			<result property="keywordIndex" column="keyword_index" />
			<result property="createId" column="create_id" />
			<result property="createName" column="create_name" />
			<result property="createTime" column="create_time" />
			<result property="updateTime" column="update_time" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="SearchRecordResult">
		select
		   *
		from `search_record`
		where `id` = #{id}
	</select>
	
	<update id="update" parameterType="com.sln.entity.search.SearchRecord">
        update `search_record` 
    	<set>
			<if test="id != null">`id`= #{id},</if>
			<if test="keyword != null">`keyword`= #{keyword},</if>
			<if test="keywordPinyin != null">`keyword_pinyin`= #{keywordPinyin},</if>
			<if test="keywordIndex != null">`keyword_index`= #{keywordIndex},</if>
			<if test="createId != null">`create_id`= #{createId},</if>
			<if test="createName != null">`create_name`= #{createName},</if>
			<if test="createTime != null">`create_time`= #{createTime},</if>
			`update_time`= now()
	    </set>
        where `id` = #{id}
	</update>
	
	<delete id="del" parameterType="Integer">
		delete from `search_record` where `id` = #{id}
	</delete>
	
	<insert id="insert" parameterType="com.sln.entity.search.SearchRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`search_record`
		(
			`keyword`,
			`keyword_pinyin`,
			`keyword_index`,
			`create_id`,
			`create_name`,
			`create_time`,
			`update_time`
		)
		values
		(
			#{keyword},
			#{keywordPinyin},
			#{keywordIndex},
			#{createId},
			#{createName},
			now(),
			now()
		)
	</insert>
	
	<select id="getSearchRecordsAll" resultType="com.sln.entity.search.SearchRecord">
        select * from `search_record`
    </select>
	
</mapper>