
*,html,body{padding:0; margin: 0;/* font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu*/}
ul,ol,li{list-style: none}
table{border-collapse: collapse;border-spacing: 0;}
a{text-decoration: none; color: #ed6f05;}
a:hover{color:#ed6f05; text-decoration:none;}
h3{font-size: 14px;}
em,i{
	font-style:normal;
}
body{
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  	color: #666;
  	background: #fff;
}
ul{margin-bottom: 0px;}
/*.resp .container{
	width:1210px;
}*/
.wp1200 .w{
	width:990px;
	margin:0 auto;
}
.wrapper{
	width:100%;
	height:30px;
	line-height: 30px;
	background:#F1F1F1;
	border-bottom:1px solid #eee;
}
.container{
	width:1210px;
	margin:0 auto;
	padding-left:0px;
	padding-right:0px;
}
/*.wp1200 .container{
	width:1210px;
}*/

.collect{
	margin-bottom: 0px;
	float:left;
	overflow: visible;
}
.wrapper li{
	height:30px;
	padding:0 11px 0 12px;
}
a{
	color: #666;
  	/*text-decoration: none;*/
}

a:focus{
	outline:none;
}

a:hover{
	color:#ed6f05;
	text-decoration: none;
}
.lh{
	zoom:1;
}
.shortcut-right{
	float:right;
	overflow: visible;
    margin-bottom: 0px;
    position:relative;
    z-index:999;
}
.wrapper li span{
	top: 9px;
	left: 0;
	width: 0;
	height: 12px;
	border-left: 1px solid #DDD;
	overflow: hidden;
}
.ld{
		position: relative;
	 	zoom: 1;
	}
.ld span,.ld b{
	position:absolute;
}
.lh li{
	float:left;
}
.wrapper.app-ff{
	padding-left:37px;
}
.wrapper .menu{
	width:72px;
	z-index:12;
}
.wrapper .shortcut-right b{
	top: 13px;
	right: 1px;
	width: 7px;
	height: 4px;
	background-image:url(../img/xsjt.png);
	background-position: -95px -55px;
	background-repeat: no-repeat;
}
.wrapper b{
	webkit-transition: -webkit-transform .2s ease-in 0s;
}
#custom-server .custom-list{
	left:5px;
	width:73px;
}
.wrapper .custom-list{
	top:30px;
} 
.wrapper .custom-list{
	position: absolute;
	border:1px solid #ddd;
	background:#FFF;
	box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.custom-list a{
	padding-left:7px;
}
#HeardTop{
	/*height:60px;*/
	padding: 20px 0px;
	position: relative;
	z-index: 12;
}
#logo-img{
	float:left;
	width:330px;
	height:60px;
	/* border:1px solid #ddd; */
}
#logo-img a{
	display: block;
	width: 210px;
	text-align: center;
}
.seach-box{
	  float: left;
	  width:635px;
	  padding: 4px 126px 0 0;
}
.seach-box .i-search{
	width:514px;
	z-index: 11;
	height: 40px;
	margin-bottom: 3px;
	border: 2px solid #ed6f05;
}
.seach-box .form{
	height: 36px;
	overflow: hidden;
}
.seach-box .text{
	width:406px;
	-webkit-appearance: none;
  -webkit-border-radius: 0;
  height: 38px;
	padding: 0 10px;
	/*background-position: 0 -360px;*/
	background-color: transparent;
	/*background-repeat: repeat-x;*/
	font-family: arial,"\5b8b\4f53";
  font-size: 14px;
}
.seach-box .text:focus{
	outline: 0;
}
.seach-box input{
	margin: 0;
	padding: 0;
	height: 31px;
	border: 0
}
.seach-box .button{
	border: 0;
	outline: none;
	width: 79px;
	font-si ze: 14px;
	font-weight: 700;
	color: #fff;
	float: right;
	height: 38px;
	background-color: #ed6f05;
	/*background: url(../img/index-icon.png) -20px -60px no-repeat;*/
}
.seach-box .button:focus{
	outline: 0;
}
/*.seach-box .button:focus{
	border:1px solid #0069ad;
}*/
#Hotwords{
	height: 18px;
	color: #999;
	overflow: hidden;
	/*width:470px;*/
}
#Hotwords strong{
	float: left;
    font-weight: 400;
}
#Hotwords a:link, #Hotwords a:visited{
	float: left;
    margin-right: 10px;
}
.nav{
	position: relative;
	z-index: 11;
	height: 40px;
	padding-left: 210px;
	margin-bottom: 10px;
	/* background: #0069ad */
}
#CateGorys{
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
	height: 40px;
}

#CateGorys .total-shop b{
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background-position: -65px 0;
}
/*#CateGorys .total-shop b:hover{
	background-position: -65px -23px;
	cursor: pointer;
}*/
.hover{
	display: block;
}
#CateGorys .yy-sortall{
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	width: 210px;
	height: 402px;
	padding: 3px 3px 3px 0;
	background: #FAFAFA;
	border: solid #ed6f05;
	border-width: 0 2px 2px;
	/*overflow-x: hidden;
	overflow-y: auto;*/
}
#CateGorys.hover .yy-sortall{
	display: block;
}
/*#CateGorys .yy-sortall::-webkit-scrollbar{
  display:none;
}*/
#CateGorys .forel{
	border-top:0px;
}
#CateGorys .list-cashcade{
	width: 200px;
	height: 28px;
	/*border-top: 1px solid #FFF*/
}
#CateGorys span{
	display: block;
	width: 203px;
	position: absolute;
	z-index: 1;
}
#CateGorys .hover span{
	width:160px;
	z-index:13;
}
#CateGorys h3{
	width: 201px;
	height: 26px;
	line-height: 26px;
	padding-left: 13px;
	/*border-width: 1px 0;*/
	background-image: none;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top:0px;
}
#CateGorys .hover h3{
	width: 208px;
	border-top: 1px solid #ed6f05;
	border-bottom: 1px solid #ed6f05;
	/*border-width: 1px 0;*/
	background-color: #fff;
	overflow: hidden;
	/*-moz-box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	box-shadow: 0 0 8px #DDD;*/
}
#CateGorys s{
	display: block;
	position: absolute;
	top: 10px;
	left: 180px;
	width: 6px;
	height: 9px;
	background-position: -110px -45px;
}
#CateGorys .hover s{
  left: 180px;
  top: -4px;
  width: 7px;
  height: 24px;
  background-position: -110px -37px;
  overflow: hidden;
}
#CateGorys .forel.hover s{
	top:1px;
}
#CateGorys h3 a:link,#CateGorys h3 a:visited{
	color:#333;
}
#CateGorys .total-shop b,#CateGorys s{
	background-image:url(../img/xsjt.png);
	background-repeat: no-repeat;
}
#CateGorys .hover .i-mc{
	display: block;
}
#CateGorys .list-cashcade .i-mc{
	display: none;
	position: absolute;
	left: 208px;
	top: 3px;
	width: 645px;
	border: 1px solid #DDD;
	border-left: 0;
	background: #fff;
	overflow: visible;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD;
}
#CateGorys .subitem{
	float: left;
	width: 645px;
	min-height: 370px;
	padding: 0 4px 0 8px;
}
#CateGorys .subitem dl{
	border-top: 1px solid #EEE;
	padding: 6px 0;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 0px;
	margin-top:0px;
}
#CateGorys .subitem dt{
	float: left;
	width: 60px;
	line-height: 22px;
	text-align: right;
}
#CateGorys .subitem dt{
	padding: 3px 6px 0 0;
	font-weight: 700;
	color: #ed6f05;
}
#CateGorys .subitem dt a{
	color: #ed6f05;
	text-decoration: underline;
}
#CateGorys .subitem em{
	float: left;
	height: 14px;
	margin: 7px 0;
	line-height: 14px;
	padding: 0 8px;
	border-left: 1px solid #ccc;
}
#CateGorys .subitem dd{
	padding-left:60px;
}
.total-shop{
	background: #ed6f05;
}
.total-shop h2{
	font-family: \5fae\8f6f\96c5\9ed1;
}
h2{
	font-size:14px;
	margin-top: 0px;
    margin-bottom: 0px;
}
.total-shop a{
	display: block;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	color: #fff;
	font-weight:700;
}
.navitems{
	/* background: -webkit-gradient(linear,0 0,0 100%,from(#E64346),to(#E13335));
	background: -moz-linear-gradient(top,#E64346,#E13335);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E64346',endColorstr='#E13335',grandientType=1);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E64346',endColorstr='#E13335',grandientType=1);
	background: -ms-linear-gradient(#E64346 0%,#E13335 100%); */
}
.navitems, .navitems li, .navitems li a{
	height:40px;
}
.navitems li{
	float: left;
	position: relative;
}
.navitems li a{
	text-align: center;
	color: #333;
	font: 400 15px/40px "microsoft yahei";
	text-decoration: none;
	padding: 0 22px;
	position:relative;
}
.navitems li:hover a {
	/* background:#a40000; */
	color:#ed6f05;
}


/*我的商城*/
.head-user-menu{
	float: left;
	position: relative;
	z-index: 9;
	width: 106px;
	height: 30px;
	margin-top: 12px;
}
.head-user-menu dt{
	width:106px;
	position: absolute;
	z-index: 1;
	/*width: 50px;*/
	height: 33px;
	padding: 0 24px 0 30px;
	border: 1px solid #EFEFEF;
	background-position: -116px -24px;
	background-color: #F7F7F7;
	text-align: center;
	line-height: 27px;
	cursor: pointer;
	background-position: -115px -53px;
	background-color: #fff;
	font-weight:400;
}
.head-user-menu dl{
	margin-bottom: 0px;
}
.head-user-menu dt{
	background-image: url(../img/xsjt.png);
  	background-repeat: no-repeat;
}
.head-user-menu dt b{
	top: 9px;
	right: 8px;
	width: 0;
	height: 0;
	border-style: solid dashed dashed;
	border-width: 5px;
	border-color: #CCC transparent transparent;
	overflow: hidden;
}
.head-user-menu dd{
	display: none;
	position: absolute;
	top: 32px;
	right: 0;
	width: 310px;
	border: 1px solid #E3E3E3;
	background: #fff;
	/*box-shadow: 0 0 10px rgba(0,0,0,.12);*/
}
.head-user-menu .prompt{
	padding: 6px 6px 6px 9px;
	border-bottom: 1px solid #EEE;
	line-height: 25px;
	overflow: hidden;
	zoom: 1
}
.head-user-menu dl dd .prompt a{
	float:right;
}
.head-user-menu dl dd a{
	color:#ed6f05;
}
.head-user-menu a i{
	background: url(../img/top_bg.png) no-repeat -150px 0;
	vertical-align: middle;
	display: inline-block;
	width: 4px;
	height: 7px;
	margin-left: 4px;
}
.head-user-menu dl dd .user-centent-menu{
	width: 308px;
	padding: 8px 0;
	overflow: hidden;
}
.head-user-menu dl dd .user-centent-menu ul{
	width: 310px;
	margin-left: -2px;
}
.head-user-menu dl dd .user-centent-menu ul li{
	width: 138px;
	float: left;
	padding: 4px 0 4px 16px;
	border-left: solid 1px #EEE;
}
.head-user-menu dl dd .browse-history{
	background-color: #FAFAFA;
	width: 308px;
	border-style: solid;
	border-width: 1px 0 0;
	border-color: #DDD transparent transparent;
}
.head-user-menu dl dd .browse-history .part-title{
	height: 20px;
   padding: 6px 8px;
}
.head-user-menu dl dd .browse-history .part-title h4{
	float:left;
}
h4{
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top:0px;
}

.smc{
	height:50px;

}
.smc ul li{
	width: 60px;
	padding: 4px;
	line-height: 0;
	font-size: 0;
}
.lh li{
	float:left;
}
.smc ul li a{
	display: block;
   border: 1px solid #ddd;
}
/*购物车*/
.settleup{
	float: left;
	position: relative;
	z-index: 99;
	width: 172px;
	height: 40px;
	margin-top: 4px;
	margin-left: -40px;
}
.settleup dt{
	/*display: none;*/
	position: absolute;
	z-index: 3;
	width: 210px;
	height: 40px;
  	line-height: 40px;
	background-color: #f6ab00;
	cursor: pointer;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
}
.settleup dl{
	margin-bottom: 0px;
}
.settleup dl .addcart-goods-num{
	color: #FFF;
	background: #F00;
	text-align: center;
	display: inline-block;
	height: 20px;
	min-width: 20px;
	line-height: 18px;
	max-width: auto!important;
	border: 1px solid #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	top: 2px;
	right: -5px;
}
.settleup .first-dt{
	padding-left: 0px;
}
.settleup dt s{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-right: 3px;
	background: url(../img/index-icon.png) -60px -20px no-repeat;
}
.settleup dt b{
	top: 15px;
	right: 15px;
	width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
	overflow: hidden;
	transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.settleup dt b.active{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.settleup dt a{
	color: #fff;
}
.settleup dd{
	display: none;
	position: absolute;
	top: 40px;
	right: -27px;
	/*width: 310px;*/
	border: 1px solid #E3E3E3;
	background: #fff;
	/*box-shadow: 0 0 10px rgba(0,0,0,.12);*/
}
.settleup .sub-title{
	line-height: 28px;
	height: 28px;
	border-bottom: solid 1px #DDD;
}
.settleup dl dd .sub-title h4{
	font-weight: 600;
	float: left;
	padding: 7px;
}
.settleup dl dd a{
	color:#ed6f05;
}
.settleup dl dd .incart-goods-box{
	display: block;
	width: 348px;
	max-height: 267px;
	overflow: auto;
	position: relative;
	overflow-x: hidden;
}
.settleup dl dd .incart-goods{
	text-align: center;
	width: 100%;
}
.settleup dl dd .incart-goods dl{
	display: block;
	width: 98%;
	height: 66px;
	clear: both;
	margin: 0 auto 0 2%;
	/*border-bottom: dotted 1px #DDD;*/
	position: relative;
	z-index: 1;
}
.settleup dl dd .incart-goods dt.shop-googs-name{
	line-height: 16px;
	background-color: transparent;
	text-align: left;
	width: 180px;
	height: 32px;
	padding: 0;
	top: 8px;
	left: 58px;
	cursor: pointer;
}
.shop-googs-name a:hover{text-decoration: underline;}
.settleup dl dd .incart-goods dt{
	border: 0;
	position: absolute;
	z-index: 1;
}
.settleup dd .incart-goods dt.shop-googs-name a{
	color:#333;
}
.settleup dl dd .incart-goods dd.mcart-mj{
	top: 8px;
   left:2px;
   width:48px;
}
.settleup dl dd .incart-goods dt, 
.settleup dl dd .incart-goods dd{
	background-color: transparent;
	border: 0;
	position: absolute;
	z-index: 1;
}
.settleup dl dd .mcart-mj a{
	line-height: 0;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 48px;
	height: 48px;
	border: solid 1px #DDD;
	overflow: hidden;
}
.settleup dl dd .mcart-mj img{
	max-width: 48px;
	max-height: 48px;
}
.settleup dl dd .incart-goods dd.mcart-price{
	text-align: right;
	width: 80px;
	height: 16px;
	top: 6px;
	right: 36px;
}
.settleup dl dd .incart-goods dd.mcart-price em{
	font-size: 11px !important;
	font-weight: normal!important;
	line-height: 16px;
	color: #777 !important;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
	width: 50px;
	margin-right: -17px;
	overflow: hidden;
}
.settleup dl dd .incart-goods dd.handle{
	width: 32px;
	top: 22px;
	right: 17px;
}
.settleup dl dd .checkout{
	background-color: #F0F0F0;
	text-align: right;
	padding: 8px;
	overflow: hidden;
	border-top: dotted 1px #DDD;
}
span.checkout-price{
	line-height: 20px;
  display: block;
}
.settleup dl dd .checkout .checkout-price i{
	font-weight: 600;
	color: #ed6f05;
	margin: 0 4px;
}
.settleup  dl dd .checkout .checkout-price em{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #ed6f05;
}
.settleup dl dd .incart-goods .no-order{
	margin:20px 0px;
}
/**/

/*页脚*/
.footer .wraper.w{
	width:990px;
	margin:0 auto;
}
.footer{
	width: 100%;
	border-top: solid 1px #F5F5F5;
	border-bottom: solid 1px #F2F2F2;
	overflow: hidden;
}
.footer .wraper{
	width: 1200px;
  	margin: auto;
}
.footer ul{
	font-size: 0;
	white-space: nowrap;
	padding: 0 0 20px 0;
	margin-left: -1%;
}
.footer li{
	font-size: 12px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	width: 17%;
	zoom: 1;
}
.footer dl{
	display: block;
	width: 90%;
	margin: 0 auto;
}
.footer dl dt{
	font: 16px/20px "microsoft yahei";
	color: #666;
	padding: 10px 5px;
	margin: 5px 0;
	border-bottom: solid 1px #E6E6E6;
}
.footer dl dd i{
	font-size: 0;
	line-height: 0;
	background: url(../img/top_bg.png) no-repeat -80px -10px;
	vertical-align: middle;
	display: inline-block;
	width: 3px;
	height: 3px;
	margin-right: 5px;
}
.footer dl dd a{
	color:#333;
}
.footer dl dd{
	font: 12px/20px "microsoft yahei";
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	clear: both;
	padding: 2px 5px;
	overflow: hidden;
}
#footer{
	font-size: 12px !important;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	overflow: hidden;
}
#footer p{
	color: #666;
	word-spacing: 5px;
	padding: 10px 0;
}
#footer a{
	color: #666;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}
#footer .vol{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 600;
	font-style: oblique;
	font-size: 12px;
}
#footer .vol .b{
	  color: #ed6f05;
}
#footer .vol .o{
	color:#F60
}

/*数字*/
.ftx-01, .ftx01 {
    color: #ed6f05;
}

/*弹层*/
.ui-dialog{
	width: 420px;
	position: absolute;
	border:solid 4px rgba(0,0,0,.1);
	border-radius: 4px;
	background: #fff;
	display: none;
}
.ui-dialog h2{
	background: #f3f3f3;
	height: 30px;
	padding:5px 10px 0 10px;
	color: #666;
	font-size: 14px;
	font-weight: normal;
	margin:0;
}
.ui-dialog h2 img{
	cursor: pointer;
}
.ui-dialog h3{
	margin:0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ui-dialog input,.ui-dialog .lg-rember span{
	margin:0;
}
.ui-dialog #form input{height: auto;}
.clearfix:after {
content: "." ;
display: block ;
height: 0 ;
clear: both ;
visibility: hidden ;
}
.ui-dialog .forget-password{
	line-height: 18px;
}
.lg-tip{
	width: 200px;
	margin-left: 105px;
	margin-bottom: 10px;
}
.layercontain{
	padding:20px 10px;
	font-size: 14px;
}
.comfirmbox{
	padding:10px;
	text-align: center;
}
.comfirmbox .btn{
   background: #ed6f05;
   color: #fff;
}
.comfirmbox .btn:first-child{
	margin-right: 15px;
}
.emailbox{
	padding: 100px 0;
	text-align: center;
	font-size: 16px;
	background: #f3f3f3;
}
.emailbox a{
	color: #ed6f05;
}
.emptycart{
	width: 100%;
	position: relative;
	width: 258px;

}
.emptycart_line{
	position: absolute;
	width: 113px;
	right: 0;
	height: 2px;
	top: 6px;
	z-index: 999;
	background: #fff;
}
.emptycart_txt{
	padding: 10px;
	color: #999;
}

/*搜索框下拉区域*/
.hide-box {
	width: 412px;
	/*height: 300px;*/
	overflow: hidden;
  position: absolute;
  top: 32px;
  left: -2px;
 /* border: 1px solid #CCC;*/
  background: #fff;
}
.hide-box li {
	overflow: hidden;
  padding: 1px 6px;
  line-height: 22px;
  cursor: pointer;
}
.hide-box li div {
	display: inline-block;	
}
.search-item {
	float: left;
}
.search-count {
	overflow: hidden;
  color: #aaa;
  float: right;
}
.last-li {
	border-top: 1px solid #efefef;
  text-align: right;
}

/*分页*/
.ejpagination-pages {
    margin: 20px 0;
    clear: both;
}
.ejpagination-pages span {
    display: block;
    float: left;
    color: #ed6f05;
    margin-right: 5px;
    border: 1px solid #cccccc;
    padding: 0px 10px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    height:26px;
    line-height:26px;
}

.ejpagination-pages .current {
    border-color: #ffffff;
}
.ejpagination-pages .disabled {
    color: #CCCCCC;
}
.ejpagination-pages .page_d {
    float: left;
    text-align: center;
    margin-right: 5px;
}
.ejpagination-pages a:link{
	text-decoration: none;
}
.ejpagination-pages a:visited,
.ejpagination-pages a:hover,
 .ejpagination-pages a:active {
	text-decoration: none;
	background: #ed6f05;
	color:#fff;
}
.ejpagination-pages span:hover {
	background: #ed6f05;
	color: #fff;
}
.a-user-btn {
	margin-left: 20px;
	margin-top: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px 0 30px;
	border: 1px solid #efefef;
	position: relative;
}
.a-user-btn em {
	position: absolute;
	top:5px;
	left:5px;
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(../img/xsjt.png) no-repeat right -60px;
}
#NavSort > .container {
	position: relative;
}
.banner-smimg {
	position: absolute;
	top:40px;
	right: 0px;
	width: 191px;
	  height: 457px;
	  overflow: hidden;
	  z-index:9;
}
.menu .show-wx {
		background: #fff;
}
.shortcut-right a:hover {
	text-decoration: none;
}
.khfw .item {
	float: left;
	width: 50%;
	text-align: left;
	height: 24px;
	line-height: 24px;
}
.khfw {
		background: #fff;
		border:1px solid #e0e0e0;
		border-top:0; 
		width:170px;
		font-weight: 800;
		padding-left: 10px;
}
.khfw .item a {
	font-weight: 400;
	color: #666;
}
.khfw .item a:hover {
	color: #ed6f05;
}
.top-head {
	border-bottom: 2px solid #ed6f05;
}

.footer .slogen {
    position: relative;
    height: 94px;
    padding: 20px 0;
    margin-bottom: 14px;
    background: #F5F5F5;
    text-align: center;
}
.footer .slogen .item {
    display: inline-block;
    width: 25%;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.navitems .fore1 {
	position: relative;
}
.navitems .fore1 .nav-icon {
	display: inline-block;
	width: 14px;
	height: 18px;
	background: url(../img/icon-nav.png) no-repeat;
	position: absolute;
	top: -12px;
	right:-14px;
}
.navitems .fore1 .nav-icon.new-icon {
	background-position: top right;
}
.menubox .mu-line .ci-t {
    display: inline-block;
    width: 9px;
    height: 6px;
    margin-left: 2px;
    background: url(../img/buyimg.png) no-repeat -21px -17px;
}
.stepflex-box {
	margin-top: 20px;
	font-family: "microsoft yahei";
}
.stepflex-box li {
    float: left;
    background-color: #d5d5d5;
    padding-left: 40px;
    margin-left: 15px;
}
.stepflex-box li span {
	  color: #777777;
    font-size: 14px;
    line-height: 28px;
    white-space: nowrap;
}
.stepflex-box li.current {
    background-color: #FF8000;
}
.stepflex-box li.current span {
	color: #fff;
}
.stepflex-box li i {
	background: url(../img/index.png) no-repeat;
}
.stepflex-box li i {
    display: block;
    width: 15px;
    height: 28px;
    background-position: -120px -759px;
    margin: 0 -15px 0 32px;
}
.stepflex-box .current i {
    background-position: -100px -759px;
}
.stepflex-box li .lasti {
    background-position: -140px -759px;
}
.stepflex-box .prev i {
    background-position: -161px -759px;
}
.stepflex-box li.current .lasti {
    background-position: -184px -759px;
}
.top-banner .a-close {
	position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  width: 19px;
  height: 19px;
  background: url(../img/a-close.png) 0px 0px no-repeat;
}
.top-banner .a-close:hover {
	background-position: 0px -19px;
}
.gusess-like .item-price-spread {
		width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.gusess-like .item-spread {
	  width: 42px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
}
.gusess-like .item-spread-money {
	  display: block;
    width: 42px;
    overflow: hidden;
    white-space: nowrap;
}
.pafrtext .ui-page {
	text-align: right;
    margin-top: 10px;
}
